.App {
  text-align: center;
  background-color: var(--bg);
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --bg: rgb(21, 42, 58);
  --bg-accent: rgb(12, 30, 43);
  --text-color: rgb(244, 218, 178);
  --nav-size: 60px;
  --border: 2px solid rgb(124, 120, 107);
  --border-radius: 8px;
  --speed: 500ms;
}

/* text-decoration: none; */
a {
  color: var(--text-color);
}
